{% extends "main_layout.html" %}
    
{% block content %}
<aside class="sidebar">
    <header class="sidebar-header">
        <h6>{{ formatted_date }}</h6>
    </header>

    <form method="POST" class="search-form">
        <input type="search" name="search_query" placeholder="Search">
        <button type="submit" class="search-icon" >
                <p>🔎︎</p>
        </button>
    </form>
            
    <form class="new-task-form" method=POST>
        <label for="">New Task</label>
        <div>
            <input class="task-input" type="text" name="input_content" id="input_content", placeholder="Add a new task">
        </div>
        <div>
            <input class="task-input" type="date" id="input_due_date" name="input_due_date">
        </div>
        <div>
                <button class="btn-add" type="submit">Add</button>
        </div>
    </form>
</aside>

<div class="main-content task-content">
    <div class="task-table">
        <h2 class="solution-heading">Today's plan</h2>
        {% if tasks|length < 1 %}
        <span class="text-no-tasks"> There are no tasks!</span>
        {% else %}
        <table id="tasks-for-today">
            <caption>Things to-do</caption>
            <thead>
                <tr>
                <th>Task</th>
                <th>Due date</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    {% if task.completed == 1 %}
                    <td class="line-done">{{ task.content }}</td>
                    <td> {{ task.due_date.date() }} </td>
                    <td class="actions">
                        <a href="/complete/{{task.id}}">✅</a>
                        <a href="/update/{{task.id}}">✎</a>
                        <a href="/delete/{{task.id}}">❌</a>
                    </td>
                    {% else %}
                    <td>{{ task.content }}</td>
                    <td> {{ task.due_date.date() }} </td>
                    <td class="actions">
                        <a href="/complete/{{task.id}}">✅</a>
                        <a href="/update/{{task.id}}">✎</a>
                        <a href="/delete/{{task.id}}">❌</a>
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        {% endfor %}
        </table>
        {% endif %}
    </div>
</div>   
{% endblock %}