<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Daily Planner</title>
</head>
<body>
    <header class="menu">
        <div class="main-content menu-content">
            <h5>
                <a href="/">Daily Planner</a>
            </h5>
            <nav>
                {% if user.is_authenticated %}
                <ul>
                    <li><a href="/logout"> Logout ↪ </a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert-msg">
            {{ message }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% else %}
        <div class="success-msg">
            {{ message }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <section id="planner" class="main section">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>