{% extends "main_layout.html" %}
    
{% block content %}
<aside class="sidebar">
    <header class="sidebar-header">
        <h6>{{ formatted_date }}</h6>
    </header>

    <form method="POST" class="search-form">
        <input type="search" name="search_query" placeholder="Search">
        <button type="submit" class="search-icon" >
                <p>🔎︎</p>
        </button>
    </form>
            
    <form class="new-task-form" method=POST>
        <label for="">New Task</label>
        <div>
            <input class="task-input" type="text" name="input_content" id="input_content", placeholder="Add a new task">
        </div>
        <div>
            <input class="task-input" type="date" id="input_due_date" name="input_due_date">
        </div>
        <div>
                <button class="btn-add" type="submit">Add</button>
        </div>
    </form>
</aside>

<div class="main-content task-content">
    <div class="task-table">
        <h2 class="solution-heading">Update Task</h2>
        <form class="new-task-form" action="/update/{{task.id}}" method=POST>
            <div>
                <input class="task-input" type="text" name="input_content" id="input_content", value="{{task.content}}">
            </div>
            <div>
                <input class="task-input" type="date" id="input_due_date" name="input_due_date", value="{{due_date_formatted}}">
            </div>
            <div>
                <label> The task is completed? </label>
                <input class="task-input" type="checkbox" id="input_completed" name="input_completed" {% if task.completed == 1 %}checked{% endif %}>
            </div>
            <div>
                    <button class="btn-add" type="submit">Update</button>
            </div>
        </form>
    
    </div> 
</div>   
{% endblock %}